@model IEnumerable<OCCSolution.Models.vwOCCAnnouncement>
@{
    ViewBag.Title = "OCC Announcements";
}

@*--COMMENTS------------------------------------------------------------------------------------------------------------------
        DATE                DEVELOPER   NOTES    
        02/21/2018         Chi          displayed all annoucemnt sort by DESC
        05/24/2018         Chi          added Oklahoma announcemnt
        10/30/2018         Chi          Added Min He, and eData 3.1.1 update 
        04/16/2019         Chi          Added changes to RPPR
        07/25/2019         CHi          added id = 38 for new Center Miami
    ----------------------------------------------------------------------------------------------------------------------------->*@
<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container" id="pageCenterID">
            <div class="row" id="centerContentID" style="margin-bottom:0em;">
                <h2 style="color:#002c00;">&nbsp;OCC Announcements</h2>
                <hr style="margin-bottom:0em;" />
                <ul class="breadcrumb" style="float:left; margin-bottom:2px;">
                    <li class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click here or press Alt+h to go to OCC Home Page"><a id="home" href="#">@Html.ActionLink("Home", "Index", "Home")</a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                    <li><a href="~/NewsEvents/NewsEvents"><span >News & Events</span></a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                    <li class="active grayFont">OCC Announcements</li>
                </ul>
            </div><br />
            <div class="col-sm-12">
                <div class="panel panel-warning" style="width:100%; height:420px; overflow-y:scroll;">
                    <div class="warningBtn btn-sm">
                        <span style="font-size:medium; color:#002C00;" class="glyphicon glyphicon-large glyphicon-comment"></span><span style="color:#002C00; font-size:medium; font-weight:bolder"> OCC Announcements</span>
                    </div>
                    <table id="grid-basic" class="table table-condensed table-hover table-striped" style="text-justify:inter-word;">
                        <thead>
                            <tr>
                                <th class="col-sm-4" data-column-id="Title" data-sortable="true"></th>
                                <th class="col-sm-8" data-column-id="Message"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    //appends hyperlink to the Cancer Center page
                                    if (item.OCCAnnouncementID == 34)
                                    {
                                        <tr class="occFontBody">
                                            <td style="font-size:15px; font-weight:bold;">@Html.DisplayFor(modelItem => item.Title)<br><span class="grayFont">@Html.DisplayFor(modelItem => item.EffectiveDate)</span></td>
                                            <td>@Html.DisplayFor(modelItem => item.Message)<a href="#">@Html.ActionLink("Cancer Centers", "CClist", "Center", null, new { @class = "occHyperlink" })</a></td>
                                        </tr>
                                    }
                                    //append GrantsFunding hyperlink
                                    if (item.OCCAnnouncementID == 1 || item.OCCAnnouncementID == 6 || item.OCCAnnouncementID == 12 || item.OCCAnnouncementID == 14 || item.OCCAnnouncementID == 15 || item.OCCAnnouncementID == 24 || item.OCCAnnouncementID == 26 || item.OCCAnnouncementID == 28 || item.OCCAnnouncementID == 30
                                        || item.OCCAnnouncementID == 31 || item.OCCAnnouncementID == 32 || item.OCCAnnouncementID == 36 || item.OCCAnnouncementID == 37)
                                    {
                                        <tr class="occFontBody">
                                            <td style="font-size:15px; font-weight:bold;">@Html.DisplayFor(modelItem => item.Title)<br><span class="grayFont">@Html.DisplayFor(modelItem => item.EffectiveDate)</span></td>
                                            <td>@Html.DisplayFor(modelItem => item.Message)<a href="#">@Html.ActionLink("Grants & Funding", "GrantsFunding", "GrantsFunding")</a></td>
                                        </tr>
                                    }
                                    if (item.OCCAnnouncementID == 8)
                                    {
                                        <tr class="occFontBody">
                                            <td style="font-size:15px; font-weight:bold;">@Html.DisplayFor(modelItem => item.Title)<br><span class="grayFont">@Html.DisplayFor(modelItem => item.EffectiveDate)</span></td>
                                            <td>@Html.DisplayFor(modelItem => item.Message)<a href="#" >@Html.ActionLink("Data Guide", "DataGuide", "GrantsFunding", protocol: null, hostName: null, fragment: "sum", routeValues: null, htmlAttributes: null)</a></td>
                                        </tr>
                                    }
                                    else if (item.OCCAnnouncementID == 3 || item.OCCAnnouncementID == 7 || item.OCCAnnouncementID == 9)
                                    {
                                        <tr class="occFontBody">
                                            <td style="font-size:15px; font-weight:bold;">@Html.DisplayFor(modelItem => item.Title)<br><span class="grayFont">@Html.DisplayFor(modelItem => item.EffectiveDate)</span></td>
                                            <td>@Html.DisplayFor(modelItem => item.Message) <a href="mailto:ncicenters-r@mail.nih.gov">email us.</a></td>
                                        </tr>
                                    }
                                    //no append hyperlink
                                    else if (item.OCCAnnouncementID == 2 || item.OCCAnnouncementID == 4 || item.OCCAnnouncementID == 5 || item.OCCAnnouncementID == 16 || item.OCCAnnouncementID == 25 || item.OCCAnnouncementID == 27 || item.OCCAnnouncementID == 29 || item.OCCAnnouncementID == 33 || item.OCCAnnouncementID == 35 || item.OCCAnnouncementID == 38)
                                    {
                                        <tr class="occFontBody">
                                            <td style="font-size:15px; font-weight:bold;">@Html.DisplayFor(modelItem => item.Title)<br><span class="grayFont">@Html.DisplayFor(modelItem => item.EffectiveDate)</span></td>
                                            <td>@Html.DisplayFor(modelItem => item.Message)</td>
                                        </tr>
                                    }

                                    else if (item.OCCAnnouncementID == 10 || item.OCCAnnouncementID == 11)
                                    {
                                        <tr class="occFontBody">
                                            <td style="font-size:15px; font-weight:bold;">@Html.DisplayFor(modelItem => item.Title)<br><span class="grayFont">@Html.DisplayFor(modelItem => item.EffectiveDate)</span></td>
                                            <td>@Html.DisplayFor(modelItem => item.Message)</td>
                                        </tr>
                                    }

                                }
                            }
                            else
                            {
                                <tr>
                                    <td style="color:black">There is no message to display.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div><!--panel-->
                </div><!--col-sm-12-->
            </div><!--container-->
</body>
</html>