@model IEnumerable<OCCSolution.Models.vwICD>
@{
    ViewBag.Title = "ICD 10";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*--COMMENTS-------------------------------------------------------------------------------------------------------------------------------------------
        DATE        DEVELOPER    DESC
        05/31/2017  Chi Dinh     Created per request from the Center Admins.
       

        NOTE: Export to Excel has .csv extention by the limitation of the dataTables current version:http://datatables.net/forums/discussion/21018/export-to-excel-has-csv-extension-why-not-xls
    ----------------------------------------------------------------------------------------------------------------------------------------------------------->*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8 />
    <title>ICD 10</title>
    <style>
        /*.DTTT_print_info { display:none; }*/ 
    </style>
</head>
<body>
<div class="container" id="pageCenterID">
    <div class="col-sm-12">
        <div class="row" id="ICDCodeID" style="margin-bottom:0em;">
            <h2 style="color:#005C83;">&nbsp;ICD 10</h2>
            <hr style="margin-bottom:0em;" />
            <ul class="breadcrumb" id="centerContentID" style="float:left;">
                <li><a id="home" href="#">@Html.ActionLink("Home", "Index", "Home")</a> <span aria-hidden="true" class="glyphicon glyphicon-circle-arrow-right"></span></li>
                <li><a href="#">@Html.ActionLink("Grants & Funding", "GrantsFunding", "GrantsFunding")</a> <span aria-hidden="true" class="glyphicon glyphicon-circle-arrow-right"></span></li>
                <li class="active grayFont">ICD 10</li>
            </ul>
            <p class="pull-right" style="color:#202020;"><small>Press F5 to reset the data table</small></p>
        </div>
    </div>
    <div class="col-sm-12">
        @{ <br />
            <table id="ResultTable" class="tableBody">
                <thead>
                    <tr>
                        <th title="Click to sort ascending or descending">Index</th>
                        <th title="Click to sort ascending or descending">Primary Disease Site</th>
                        <th title="Click to sort ascending or descending">ICD-10-CM</th>
                        <th title="Click to sort ascending or descending">ICD-O-3</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var icd in Model)
                    {
                        <tr>
                            <td style="width:25px;">@icd.index</td>
                            <td style="width:110px;">@icd.PrimarySite</td>
                            <td style="width:310px;">@icd.icd</td>
                            <td style="width:310px;">@icd.icdo3</td>
                        </tr>
                    }
                </tbody>

                <tfoot>
                    <tr>
                        <th title="Click to sort ascending or descending">Index</th>
                        <th title="Click to sort ascending or descending">Primary Disease Site</th>
                        <th title="Click to sort ascending or descending">ICD-10-CM</th>
                        <th title="Click to sort ascending or descending">ICD-O-3</th>
                    </tr>
                </tfoot>
            </table> }
    </div> <!--col-sm-12-->
    <script type="text/javascript">
        $(document).ready(function () {
            var currentDate = new Date()
            var day = currentDate.getDate()
            var month = currentDate.getMonth() + 1
            var year = currentDate.getFullYear()
            var d = day + "-" + month + "-" + year;

            /*Init DataTables */
            var resultTable = $('#ResultTable').dataTable({
                //"bJQueryUI": "false",  //setting it to false is not good enough, need to comment it out!
                "lengthMenu": [50, 25],
                "sScrollX": "90%",
                "sScrollY": "100%",
                "sScrollXInner": "100%",
                "sPaginationType": "full_numbers",
                "aaSorting": [[0, 'asc']],
                "bSortable": true,
                "aoColumnDefs": [
                    { "aTargets": [0], "bSortable": true },
                    { "aTargets": [1], "bSortable": true },
                    { "aTargets": [2], "bSortable": true },
                    { "aTargets": [3], "bSortable": true }, ],
               
                "dom": 'T<"clear">pfrtli',
                "dom": '<lfrT>t<ip><"clear">',

                "dom": '<"fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"lfrT>t<"fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"ip>',

                "tableTools": {
                    "sSwfPath": "../Content/swf/copy_csv_xls_pdf.swf",
                    "aButtons": [
                        {
                            "sExtends": "pdf",
                            "sButtonText": "Export to PDF",         //label the button
                            "sToolTip": "Export to PDF",
                            "sPdfOrientation": "landscape",         // change to landscapte orientation
                            "mColumns": "visible",                 //show only the visible fields
                            "oSelectorOpts": { filter: 'applied', order: 'current' },
                            "sFileName": "*-" + d + ".pdf"         // add the date to the filename
                        },
                        {
                            "sExtends": "xls",
                            "sButtonText": "Export to Excel",
                            "sToolTip": "Export to Excel",
                            "oSelectorOpts": { filter: 'applied', order: 'current' },
                            "sFileName": "*-" + d + ".xls"
                        },]
                },             
            });          
        });
    </script>
    </div>
</body>
</html>