@model IEnumerable<OCCSolution.Models.vwDT2bBenchmark>
@*@using Kendo.Mvc.UI
    @using Kendo.Mvc.Extensions*@
@{
    ViewBag.Title = "DT2";
}
@*------------------------------------------------------------------------------------------------------------------------------
        DATE        Developer    Desc
        12/20/2014  Chi          Use this as example: http://www.htmlcodetutorial.com/tables/index_famsupp_30.html
                                 Displayed data based on the dropdown filter value, ref:http://www.datatables.net/release-datatables/examples/api/multi_filter_select.html
                                 requires:
                                 //code.jquery.com/jquery-1.11.1.min.js
                                //cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js
                                //cdn.datatables.net/1.10.4/css/jquery.dataTables.css
                                Used Telerik UI For ASP.NET MVC Bar Charts/Column Chart: http://demos.telerik.com/aspnet-mvc/bar-charts/column
                                to put label on the bar:
                                series.Column(dt => dt.BasicNCIAvg).Name("NCI Basic Avg")
                                                                  .Labels(labels => labels.Visible(true).Font("C").Position(ChartBarLabelsPosition.OutsideEnd));
                                Regex: Comma delimited integers: ^(\d+(,\d+)*)?$
    12/24/2014      Chi         Hide the prev, next, ect page info.
    01/03/2015      Chi         Format the amount by adding comma as thousands separator
    04/06/2015      AM          Added id=home
    06/27/2018      AM          modified table font and background colors to meet new 508 compliance standard
    12/15/2020      Chi         Added label, "Note - After FY 2015, Direct Cost vs. Total Cost was used to calculate."
    09/11/2023      Chi         Updated according to Molly's suggestions
    ---------------------------------------------------------------------------------------------------------------------------------------*@
<!DOCTYPE html>
<html>
<head>
    <title>DT2</title>
    <script type="text/javascript" src="~/Scripts/autoNumeric.js"></script>

    <style type="text/css">

        table.dataTable tr.odd { background-color: #EBF5FB !important } /*light baby blue*/
        table.dataTable tr.even { background-color: white !important }

        /*table.dataTable tr.highlighted {
            background-color: #9fcee2 !important;
            border-bottom-width:medium !important;
            border-bottom-color:#003f59 !important;
        }*/  /* baby blue, deeper blue:94c0d2*/


        @*hide the search box, cant disable it b/c of the FY filter column *@
        .dataTables_filter {
            display: none;
        }

        @*hide the sort icon*@
        .dataTables_sort{
            background-image:none !important;
        }

        @*this works!*@
        /*.rotate90 {
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        }*/

    </style>
</head>
<body>
    <div class="container" id="pageCenterID">
        <h2 style="color:#005C83;">&nbsp;Data Table 2</h2>
        <h4 style="color:#005C83;">&nbsp;Active Funded Projects</h4>
        <hr style="margin-bottom:0em;" />
        <ul class="breadcrumb" style="float:left; margin-bottom:0;">
            <li class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click here or press Alt+h to go to OCC Home Page"><a href="#" id="home">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "occHyperLink" })</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
            <li><a href="~/Center/CancerCenters" class="occHyperLink">Cancer Centers</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
            <li><a href="~/DT/DT" class="occHyperLink">Benchmark Data</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
            <li class="active grayFont">Data Table 2</li>
        </ul>
        <p class="pull-right" style="color:#202020;"><small>Press F5 to reset the data table</small></p>
        <div class="centerContent pull-left">
            <div class="col-sm-12 pull-left" style="color:#005C83;">
                <p>Using self-reported center data submitted annually from 2010 to the present year, the table below compares the high, low, average, and median total funding (Direct Cost) awarded 
                   by NCI and NIH to Basic Laboratory, Clinical, and Comprehensive Cancer Centers.</p>
            </div>
            <table id="example" style="width:45%; border-color:#94c0d2; border-width:1px;">
                <thead>
                    <tr style="text-align:left; color: white; background-color: #1A5276; padding-right:5px;">
                        <th id="fiscalyear" title="Click here to filter by Fiscal Year">FY</th>
                        <th></th>
                        <th style="width:140px !important;">Center Type</th>
                        <th align="left">Agency</th>
                        <th align="left">High</th>
                        <th align="left">Low</th>
                        <th align="left">Average</th>
                        <th align="left">Median</th>
                    </tr>
                </thead>
                <tbody style="font-size:small;">
                    @{ if (Model != null)
                        {
                            foreach (var dt in Model)
                            {
                                <tr class="odd">
                                    <td aria-labelledby="fiscal year">@dt.FY</td>
                                    <td></td>
                                    <td style="font-size:small;" title="Click here to go to the cancer center list"><b>@dt.BasicCount Basic Centers</b></td>
                                    <td align="center">NCI</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.BasicNCIHigh)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.BasicNCILow)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.BasicNCIAvg)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.BasicNCIMedian)</td>
                                </tr>
                                <tr>
                                    <td>@dt.FY</td>
                                    <td></td>
                                    <td></td>
                                    <td align="center">NIH</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.BasicNIHHigh)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.BasicNIHLow)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.BasicNIHAvg)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.BasicNIHMedian)</td>
                                </tr>
                                <tr>
                                    <td>@dt.FY</td>
                                    <td></td>
                                    <td style="font-size:small;" title="Click here to go to the cancer center list"><b>@dt.ClinicalCount Clinical Centers</b></td>
                                    <td align="center">NCI</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.ClinicalNCIHigh)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.ClinicalNCILow)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.ClinicalNCIAvg)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.ClinicalNCIMedian)</td>
                                </tr>
                                <tr>
                                    <td>@dt.FY</td>
                                    <td></td>
                                    <td></td>
                                    <td align="center">NIH</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.ClinicalNIHHigh)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.ClinicalNIHLow)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.ClinicalNIHAvg)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.ClinicalNIHMedian)</td>
                                </tr>
                                <tr class="odd">
                                    <td>@dt.FY</td>
                                    <td></td>
                                    <td style="font-size:small;" title="Click here to go to the cancer center list"><b>@dt.CompCount Comp Centers</b></td>
                                    <td align="center">NCI</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.CompNCIHigh)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.CompNCILow)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.CompNCIAvg)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.CompNCIMedian)</td>
                                </tr>
                                <tr>
                                    <td>@dt.FY</td>
                                    <td></td>
                                    <td></td>
                                    <td align="center">NIH</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.CompNIHHigh)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.CompNIHLow)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.CompNIHAvg)</td>
                                    <td align="center">@String.Format("{0:#,##0}", dt.CompNIHMedian)</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div> <!--end of col-sm-12 pull-left -->

        <script type="text/javascript" charset="utf-8">

            $(document).ready(function () {
                $("#myTab li:eq(1) a").tab('show');

                $('#example').DataTable({
                    "bPaginate": true,
                    'iDisplayLength': 6,  //display 6 record per page
                    'bLengthChange': false,
                    "bInfo": false,
                    "bSort": false,
                    "aoColumnDefs": [
                        { "bSortable": false, "aTargets": ["_all"] },   //disable sorting on all columns.
                        { "aTargets": [0], "bVisible": false, "sTitle": "FY", "sToolTip": "Click here to filter by FY" },  //don't show FY on the column
                        {
                            "aTargets": [2], //make the 2nd column (CenterType) hyperlink to Find a Cancer Center list
                            "mRender": function (data, type, full) {
                                // 'full' is the row's data object, and 'data' is this column's data
                                // e.g. 'full' is not being use , and 'data' is the CenterType
                                return '<a href="../Center/CClist">' + data + '</a>';
                            }
                        }
                    ],
                    "fnDrawCallback": function (oSettings) {
                        $('.dataTables_paginate').hide();     //hide the page prev/next information.
                    }
                });

                var table = $('#example').DataTable();
                $("#example thead th").each(function (i) {
                    if (i == 0) { //Create just one SelectBox
                        var select = $('<select class=' + i + '><option value=""></option></select>')
                            .appendTo($(this).empty())
                            .on('change', function () {
                                var val = $(this).val();
                                table.column(0) //Only the first column
                                    .search(val ? '^' + $(this).val() + '$' : val, true, false)
                                    .draw();
                            });
                        //populate the FY ddl
                        table.column(0).data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')  //populate the FY ddl
                                .val("2020");                                                  //set the defualt valaue
                        });
                    }
                });
            });
        </script>
    </div> <!--end of container-->
</body>
</html>